.container {
  /* border: 2px yellow solid; */
  background-color: var(--card);
  border-radius: 25px;
  width: 30%;
  min-width: 150px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* height: 100%; */
  flex: 0 0 auto;
}

.filters {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  padding-bottom: 1rem;
}

.filterTitleGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.filterTitleGroup h2 {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 400;
}

.filterList {
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
}

.filterList-scrollable {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.filterList-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.filterList > * {
  margin-bottom: 0.75rem;
  transition: 0.2s ease-in-out;
}

.button {
  background: none;
  border: none;
  color: var(--dk-text);
}

.profileLinks {
  /* display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: end;
  /* margin-bottom: 0; */
  /* flex: 1; */
  /* flex-direction: column;  */

  flex: 0 0 auto;
  margin-top: auto;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.profileLinks img {
  width: 35px;
}

.filterTitleGroup .highlight {
  color: var(--dk-text);
}

.sidebarFooter {
  margin-bottom: 1rem;
}

.logoutBtn {
  all: unset;
  cursor: pointer;
}

.logout {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;

    /* min-height: 60vh; */
    width: 250px;
    transform: translateX(-200%); /* Hide the sidebar by default */
    z-index: 1000;
  }
  .container.visible {
    transform: translate(-50%, -50%); /* Slide the sidebar into view */
    top: 50%;
    left: 50%;
  }

  .container.hidden {
    transform: translateX(-200%); /* Slide the sidebar out of view */
  }
}
