.toggleContainer {
    display: flex;
    width: 25px;
    position: relative;
}

.toggle {
    visibility: hidden;
}

.label {
    /* border: 2px red solid; */
    position: absolute;
    width: 100%;
    inset: 0;
    background-color: var(--component);
    border-radius: 15px;
}

.label:active,
.label:hover {
    background-color: var(--primary);
}

.label .ball {
    /* border: 2px red solid; */
    position: absolute;
    right: 3px;
    top: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--card);
}

.toggle:checked + .label .ball {
    /* border: 2px red solid; */
    left: 3px;
}
