@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  /* border: 2px red solid; */
  transition: 0.2s ease-out, color 0s;
  font-weight: 400;
}

button {
  cursor: pointer;
}

html[data-theme='light'] {
  --bg-color: #e4f0fa;
  --primary: #ff7c7c;
  --dk-text: #2b3c5b;
  --dk-subtext: #7a8aa3;
  --card: #e6eef8;
  --component-s: #c4cdd1;
  --component: #d3dee3;
  --grad-base: rgb(250, 177, 135);
  --gradient-1: rgb(250, 177, 135);
  --gradient-2: rgb(246, 117, 117);
  --cal-indicator: invert(72%) sepia(40%) saturate(5103%) hue-rotate(314deg)
    brightness(110%) contrast(105%);
  --text-error: #a6192e;
  
}
html[data-theme='dark'] {
  --bg-color: #121215;
  --primary: #8d8fd2;
  --dk-text: #dfe0fb;
  --dk-subtext: #84849d;
  --card: #18181c;
  --component-s: #454254;
  --component: #2f2d36;
  --grad-base: rgb(125, 90, 242);
  --gradient-1: rgb(145, 114, 247);
  --gradient-2: rgb(104, 61, 247);
  --cal-indicator: invert(57%) sepia(96%) saturate(184%) hue-rotate(200deg)
    brightness(85%) contrast(93%);
  --text-error: #E73879;
}

body {
  background-color: var(--bg-color);
  color: var(--dk-text);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
