:root {
  --darkModeBackground: #121215;
  --lightModeBackground: #e3effa;
  --darkModeHighlightFontColor: #815ef7;
  --darkModeFontColor: white;
}
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--darkModeBackground);
  color: var(--darkModeFontColor);
}

.logo-do {
  color: var(--darkModeHighlightFontColor);
}
